<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>内容加图片</title>
</head>
<body>
  <!-- <p>我的文字内容</p> -->
  <!-- <img src="./showimg" alt=""> -->
  <p>email:{email}</p>
  <p>pwd:{pwd}</p>
  <form action="./login" method="get">
    <table>
      <tr>
        <td>email:</td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td>pwd:</td>
        <td><input type="password" name="pwd"></td>
      </tr>
      <tr>
        <td><input type="submit" value="登录"></td>
      </tr>
    </table>
  </form>
</body>
</html>